* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  /* overflow-x: hidden; */
}
.header {
  width: 100%;
  width: 100vw;
  height: 48px;
  background-color: #000000;
  color: #fafafa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.header-test {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  max-width: 60ch;
}
.header-btn {
  cursor: pointer;
  text-decoration: underline;
  font-weight: 600;
}

/* login and sign-up navbar start */
.toggle-btn {
  width: 47px;
  height: 47px;
  display: none;
  cursor: pointer;
}
.exclusive-toggle-btn {
  width: 47px;
  height: 47px;
  display: none;
  cursor: pointer;
}
.navbar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-links-container {
  width: Hug (367px) px;
  height: Hug (24px) px;
  display: flex;
  gap: 48px;
}
.nav-alignment {
  display: flex;
  width: Hug (717px) px;
  height: Hug (24px) px;
  gap: 232px;
  opacity: 0px;
  padding: 10px;
  justify-content: space-between;
  align-items: baseline;
}

.nav-input-box-container1 {
  /* background-color: palegreen; */
  display: flex;
  position: relative;
}

.nav-input-box1 {
  width: 243px;
  height: 38px;
  padding-left: 30px;
  background-color: #f5f5f5;
  box-sizing: border-box;
  border: 1px solid #f5f5f5;
}

.nav-magnify1 {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Prevents interaction with the image */
}
.nav-test {
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  cursor: pointer;
  padding-bottom: 10px;
}

.nav-test:hover {
  text-decoration: underline;
}

.nav-horizontal-line {
  opacity: 30%;
  border: 0.5px solid #000000;
}
.overlay-close-btn {
  display: none;
}
.logo,
.excluive-logo {
  /* color: red; */
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.logo2 {
  display: none;
}
/* end */

/* hero-section  start*/
.hero-section-wrapper {
  max-width: 100vw;
  width: 99%;
}
.hero-section-container {
  /* background-color: #db4444; */
  max-width: 100vw;
  width: 98%;
  height: 781px;
  margin-right: 120px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.hero-section-content {
  gap: 80px;
  display: flex;
  justify-content: space-between;
}
.hero-section-img {
  width: 800px;
  height: 651px;
}
.sign-up-form-container {
  width: Hug (371px) px;
  height: 651px;
  gap: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-heading {
  font-weight: 500;
  line-height: 20px;
  word-spacing: 4px;
}
.sign-up-inputs {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.sign-up-input {
  display: flex;
  padding-left: 10px;
  flex-direction: column;
  gap: 8px;
  border-left: none;
  border-right: none;
  border-top: none;
  width: 370px;
  height: 32px;
}
.create-btn {
  width: 371px;
  height: 56px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  cursor: pointer;
  border: none;
  background-color: #db4444;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
}
.create-btn:hover {
  background-color: #fb5e5e;
}
.google-btn-container {
  position: relative;
  display: inline-block;
}
.google-img {
  width: 24px;
  height: 24px;
  position: absolute;
  transform: traslateY(-50%);
  top: 15%;
  left: 30px;
}
.sign-up-with-google-btn {
  width: 371px;
  height: 56px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  cursor: pointer;
}
.sign-up-with-google-btn:hover {
  background-color: #d8d6d6f4;
}
.already {
  padding-top: 20px;
  text-align: center;
  height: 48px;
  font-weight: 400;
  font-size: 16px;
  margin-top: 15px;
}
.login {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  margin-left: 10px;
  cursor: pointer;
}
.login:hover {
  text-decoration: underline;
  opacity: 70%;
}
/* end */

/* footer */

.footer-wrapper {
  max-width: 100vw;
}
.footer-container {
  letter-spacing: 0.03em;
  width: 100%;
  width: 100vw;
  height: 440px;
  padding: 40px 110px;
  color: #ffffff;
  background-color: #000000;
}
.footer-link {
  display: flex;
  flex-direction: row; /* Arrange sections in a row */
  gap: 50px;
  width: 100%;
  margin-top: 30px;
}

.first-links {
  display: flex;
  flex-direction: column; /* Ensure the items stack vertically */
  gap: 20px;
  letter-spacing: 0.03em;
}

.footer-headings {
  font-size: 24px;
  font-weight: 700;
}

.subscribe {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.footer-texts {
  font-size: 16px;
  line-height: 24px;
}

.footer-input-container {
  position: relative;
  display: inline-block;
}

.footer-input {
  width: 217px;
  border-radius: 4px;
  height: 48px;
  padding: 12px 16px;
  border: 1px solid white;
  background-color: #000000;
}
.save {
  font-size: 12px;
}

.send-icon {
  position: absolute;
  top: 23%;
  right: 30px;
  cursor: pointer;
  width: 16px;
  height: 16px;
  transform: translateY(-50%);
}
.support-add {
  width: 175px;
  font-size: 16px;
  font-weight: 200;
  line-height: 24px;
}
.downloads {
  display: flex;
  float: right;
  gap: 8px;
  margin-right: 30px;
  flex-direction: column;
}
.download {
  cursor: pointer;
  width: 110px;
  height: 40px;
}
.images {
  display: flex;
  gap: 10px;
}
/* Success message container */
.success-container {
  position: fixed;
  top: -80px; /* Start off-screen */
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  width: 100vw;
  background-color: green;
  color: white;
  padding: 15px;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
  z-index: 1000;
}
/* Slide-in animation */
.success-container.show {
  top: 20px; /* Slide into view */
  opacity: 1;
}
.error-container {
  position: fixed;
  bottom: -100px; /* Start off-screen */
  right: 20px;
  width: 300px;
  background-color: red;
  color: white;
  padding: 15px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: bottom 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
  z-index: 1000;
}
.error-container.show {
  bottom: 20px; /* Slide into view */
  opacity: 1; /* Fade in */
}

/* Optional: Add fade-out effect */
.error-container.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/* Login buttons */
.login-btn-container {
  width: 371px;
  height: 56px;
  display: flex;
  gap: 87px;
}

.login-btn {
  width: 143px;
  height: 56px;
  padding: 16px 48px 16px 48px;
  border-radius: 4px;
  background-color: #db4444;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.login-btn:hover {
  background-color: #fb5e5e;
}
.forget-pass {
  font-size: 16px;
  color: #db4444;
  font-weight: 400;
  margin-top: 10px;
}
/* end */

/* Exclusive-Nav-bar  Start*/
.exclusive-heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.exclusive-nav-wrapper {
  max-width: 100vw;
  display: flex;
  margin: 20px 120px;
  justify-content: space-between;
  align-items: center;
  height: 38px;
  left: 135px;
  gap: 130px;
}

.exclusive-nav-container {
  width: 645px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  gap: 160px;
  opacity: 0px;
}
.exclusive-nav-links {
  display: flex;
  width: Hug (367px) px;
  height: Hug (24px) px;
  gap: 48px;
}
.exclusive-nav-link {
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.exclusive-nav-link:hover {
  border-bottom: 1px solid black;
  cursor: pointer;
  /* padding-bottom: 3px; */
}
.exclusive-input-container {
  width: Hug (395px) px;
  height: Hug (38px) px;
  display: flex;
  gap: 24px;
}
.exclusive-input-wrapper {
  position: relative;
  flex-grow: 1;
}
.exclusive-nav-input {
  width: Hug (243px) px;
  height: Hug (38px) px;
  padding: 7px 12px 7px 20px;
  gap: 10px;
  background-color: #f5f5f5;
  border-radius: 4px;
  box-sizing: border-box;
}
.nav-magnify {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
.user-actions-container {
  width: Hug (128px) px;
  height: Hug (32px) px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.action-wrapper {
  position: relative;
  display: flex;
}
.action-img {
  width: 25px;
  /* height: 17.83px; */
}
.action-count {
  width: 13px;
  height: 13px;
  top: 1px;
  left: 15px;
  position: absolute;
  background-color: #fe4b4b;
  color: white; /* Color of the text */
  border-radius: 50%; /* Make it circular */
  font-size: 12px; /* Adjust font size */
  display: flex;
  justify-content: center;
  align-items: center;
}
.exclusive-nav-items {
  display: none;
}
.horizontal-rule {
  display: none;
}
/* End */

/* Slider */

.margin {
  margin: 30px 0px 0 120px;
}
.order-side-menu {
  display: flex;
  gap: 81px;
}
.nav-items {
  display: flex;
  flex-direction: column;
  width: 217px;
  height: 344px;
  gap: 16px;
}
.nav-item {
  width: 142px;
  height: 24px;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  cursor: pointer;
}
.nav-item {
  width: 142px;
  height: 24px;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  cursor: pointer;
}
.horizontal-line {
  width: 394px;
  border: 0.5px solid #000000;
  opacity: 30%;
  transform: rotate(90deg);
  margin-top: -195px;
  display: inline-block;
}
.slider {
  position: relative;
  color: #ffffff;
  overflow: hidden;
}
.slides {
  width: 500%;
  height: 500px;
  display: flex;
}
.slides input {
  display: none;
}
.slide {
  width: 20%;
  transition: 2s;
}
.slide-img {
  width: 892px;
  height: 344px;
  position: relative;
  z-index: 1;
  margin-left: 10px;
  cursor: pointer;
}
.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -180px;
  display: flex;
  gap: 4px;
  z-index: 10;
  justify-content: center;
}
.manual-btn {
  z-index: 10;
  background-color: #ecececd9;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
/* .manual-btn:hover {
  border: 2px solid #ffffff;
  
} */
.manual-btn:not(:last-child) {
  margin-right: 20px;
}
#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4 :checked ~ .first {
  margin-left: -60%;
}
.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 320px;
}
.navigation-auto div {
  border: 2px solid #ffffff;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
.navigation-auto div:not(:last-child) {
  margin-right: 18px;
}
#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #ecececd9;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #ecececd9;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #ecececd9;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: #ecececd9;
}

.iphone-logo-container {
  width: 200px;
  height: 49px;
  display: flex;
  gap: 24px;
  top: 58px;
  left: 64px;
  align-items: center;
  position: absolute; /* Absolute position relative to the slider */
}

.apple-text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
}

.advert-container {
  z-index: 10px;
  width: 294px;
  height: 120px;
  top: 126px;
  left: 64px;
  position: absolute; /* Absolute position relative to the slider */
}

.advert-text {
  font-size: 45px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 0.04em;
}

.shopnow-btn-container {
  width: 113px;
  height: 28px;
  z-index: 10;
  gap: 8px;
  position: absolute; /* Position absolute to overlay on the image */
  top: 269px;
  left: 67px; /* Adjust based on the desired position */
  display: flex;
  align-items: center;
}

.shopnow-btn {
  border: none;
  font-weight: 500;
  text-align: center;
  width: 81px;
  background-color: #000; /* Add background color for visibility */
  color: #fff;
  cursor: pointer;
}
.mobile-slide-containerl {
  display: none;
}
.mobile-slide-wrapper {
  display: none;
}
/* end */

/* Flash Sale */
.sales-container {
  max-width: 100vw;
  height: 493px;
}
.flash-sales-container {
  width: 100%;
  height: 103px;
}
.name-tag-container {
  width: 100px;
  display: flex;
  align-items: center;
  gap: 16px;
  height: 40px;
}
.name-tag {
  width: 20px;
  height: 40px;
  background-color: #db4444;
  border-radius: 4px;
}
.today {
  font-size: 16px;
  font-weight: 600;
  width: 64px;
  height: 20px;
  line-height: 20px;
  color: #db4444;
}
.flash-sales-text {
  display: flex;
  align-items: center;
  gap: 10px; /* Control spacing between flash text and timer */
  width: 90%;
}
.flash-text {
  font-size: 30px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.04em;
}
.timer-container {
  width: 302px;
  height: 50px;
  font-size: 30px;
  display: flex;
  gap: 10px;
  margin-left: 40px;
  font-weight: 700;
  align-items: center;
  padding-top: 10px;
  line-height: 30px;
  letter-spacing: 0.04em;
}
.colon {
  color: #e07575;
}
/* Flash Sales end */

/* Cart Start */
.not-found-wrapper {
  margin: 70px 120px 0 120px;
}
.four-error-container {
  display: flex;
  gap: 10px;
  width: 132px;
  height: 21px;
  font-size: 14px;
}
.home-slash {
  opacity: 50%;
}
.home-error {
  width: 42px;
  height: 21px;
  opacity: 50%;
}
.products-container {
  width: 1170px;
  height: 840px;
  margin-top: 50px;
  margin-bottom: 70px;
  gap: 80px;
}
.product-items-container {
  width: 1170px;
  height: 436px;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  flex-direction: column;
  gap: 24px;
}
.products-item {
  width: 1170px;
  height: 72px;
  padding: 24px 39px 24px 40px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  border-radius: 4px 0px 0px 0px;
}
.product-item-headings {
  width: 1091px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.added-item-container {
  width: 64px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  height: 64px;
  position: relative;
  gap: 15px;
}
.cancel-btn {
  position: absolute;
  top: -3px;
  left: -12px;
}
.added-img {
  width: 50px;
  height: 39px;
}
.product-name {
  width: 200px;
  height: 24px;
  /* margin-left: 10px; */
  display: flex;
  align-items: center;
}
.quantity-container {
  width: 72px;
  height: 44px;
  padding: 6px 12px 6px 12px;
  border-radius: 4px;
  display: flex;
  border: 1.5px solid black;
}
.quantity-alignment {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.quantity-wrapper {
  width: 48px;
  height: 32px;
  /* gap: 16px; */
  display: flex;
  flex-direction: row;
}
.add-sub-container {
  width: 16px;
  height: 32px;
  display: flex;
  flex-direction: column;
}
.products-btn {
  width: 1170px;
  height: 72px;
  display: flex;
  justify-content: space-between;
  /* padding-top: 24px ; */
}
.return-to-shop-btn {
  cursor: pointer;
  width: 218px;
  height: 56px;
  padding: 16px 48px 16px 48px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid black;
}
.update-cart {
  width: 195px;
  height: 56px;
  padding: 16px 48px 16px 48px;
  border-radius: 4px;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
}
.coupon-container {
  display: flex;
  gap: 16px;
  width: 527px;
  height: 56px;
}
.coupon-input {
  width: 300px;
  height: 56px;
  padding: 16px 164px 16px 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  border-radius: 4px;
  border: 1px solid black;
}
.apply-coupon {
  width: 211px;
  background-color: #db4444;
  height: 56px;
  padding: 16px 48px 16px 48px;
  color: #f5f5f5;
  border: transparent;
  font-weight: 500;
  line-height: 24px;
  border-radius: 4px;
}
.cart-total-container {
  width: 470px;
  height: 324px;
  border-radius: 4px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1.5px solid black;
}
.cart-total-heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}
.process-to-checkout {
  width: 260px;
  height: 56px;
  padding: 16px 48px 16px 48px;
  border-radius: 4px;
  background-color: #db4444;
  border: transparent;
  display: block;
  margin: 0 auto;
  margin-top: -20px;
  color: #fafafa;
  font-weight: 500;
}
.cart-checkout {
  width: 1170px;
  height: 324px;
  /* margin-bottom: 80px; */
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
}
.coupon-container {
  display: flex;
  gap: 16px;
  width: 527px;
  height: 56px;
}
/*Item that was Added to cart end */
.cart-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  overflow-x: auto;
  gap: 30px;
  margin-bottom: 30px;
  margin-top: 15px;
}
.cart-img-container {
  width: 270px;
  height: 350px;
}
.cart-img-wrapper {
  width: 270px;
  height: 250px;
  border-radius: 4px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative; /* Enables absolute positioning of child elements */
}
.percentage-tag {
  width: 55px;
  height: 26px;
  background-color: #db4444;
  color: #ffffff;
  border-radius: 4px;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 10px;
}
.cart-wish-list-container {
  width: 34px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.wish-list-img-wrapper {
  width: 24px;
  height: 24px;
  background-color: #f9e3e3bb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wish-list-img {
  width: 18px;
  height: 19px;
  cursor: pointer;
}
.cart-img-alignment {
  width: 190px;
  margin-top: 20px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.cart-images {
  width: 172px;
  height: 152px;
}
.add-to-cart-btn {
  width: 270px;
  height: 41px;
  background-color: #000000;
  border-radius: 0 0 4px 4px;
  visibility: hidden;
  display: flex;
  align-items: center; /* Centers vertically */
  justify-content: center; /* Centers horizontally */
  cursor: pointer;
  color: #f5f5f5;
}
.cart-img-wrapper:hover .add-to-cart-btn {
  visibility: visible;
}
.product-info {
  width: 205px;
  height: 84px;
  display: flex;
  /* background-color: #db4444; */
  margin-top: 16px;
  flex-direction: column;
  gap: 8px;
}
.product-heading {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.price-container {
  width: 85px;
  height: 24;
  display: flex;
  gap: 12px;
}

.recent-price {
  color: #db4444;
}
.old-price {
  opacity: 50%;
  text-decoration: line-through;
}
.rating {
  display: flex;
  align-items: center;
  gap: 5px;
}
.rating-text {
  font-size: 14px;
  color: #555;
}
/*End of Product Display */

/* Product Display 2  */
.product-display2 {
  margin-top: 30px;
}
.view-all-btn {
  /* max-width: 15vw; */
  display: block;
  margin: 0 auto;
  width: 234px;
  height: 56px;
  text-align: center;
  color: #fafafa;
  font-weight: 500;
  line-height: 24px;
  padding: 16px 48px;
  gap: 10px;
  border-radius: 4px;
  background-color: #db4444;
  cursor: pointer;
}
@media (max-width: 768px) {
  .header {
    display: none;
  }
  /* Sign up & Login Navbar */
  .toggle-btn {
    display: block;
    z-index: 20;
    cursor: pointer;
  }
  .exclusive-toggle-btn {
    display: block;
    z-index: 20;
    cursor: pointer;
  }
  .nav-links-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 20px;
    top: 0;
    left: -100%; /*Hidden by default */
    height: 100%;
    width: 80%; /* Takes 80% of the screen */
    background-color: #333;
    color: white;
    transition: left 0.3s ease; /* Smooth transition */
    z-index: 15;
    padding: 1rem;
  }

  .nav-links-container.open {
    left: 0;
  }

  .action-wrapper {
    display: none;
  }
  .nav-links-container ul {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 80%; /* Covers remaining 10% */
    width: 20%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent */
    z-index: 10;
  }
  .logo,
  .excluive-logo {
    display: none;
  }
  .logo2 {
    display: block;
  }
  .adjustment {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #db4444; */
    gap: 20px;
  }
  .nav-alignment {
    width: 100%;
    display: flex;
  }
  .nav-input-box-container1 {
    display: none;
  }
  .overlay-close-btn {
    display: block;
    cursor: pointer;
    color: white;
    font-size: 24px;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  /* hero-section start */

  .hero-section-content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .hero-section-img {
    width: 100vw;
    height: 651px;
  }
  .sign-up-form-container {
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 530px;
  }
  .sign-up-input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 340px;
    margin-left: 11px;
  }
  .create-btn,
  .sign-up-with-google-btn {
    margin-left: 5px;
    width: 340px;
  }
  /*end */

  /*footer */
  .footer-container {
    display: none;
  }

  /* ExclusiveNavBar */
  .exclusive-nav-wrapper {
    display: flex;
    padding: 10px;
    max-width: 100vw;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    height: 38px;
    gap: 0px;
  }

  /* Logo and toggle button */
  .exclusive-nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100vw;
  }
  .logo {
    display: block;
    padding-right: 52px;
  }
  /* Navbar links - hidden by default for small screens */
  .exclusive-nav-links {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    gap: 2px;
    height: 100%;
    background-color: #333;
    color: #ffffff;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    z-index: 100;
    overflow: auto;
  }

  .exclusive-nav-input {
    display: none;
  }
  .action-wrapper {
    display: flex;
  }
  .nav-magnify {
    margin-right: -20px;
    width: 20px;
    height: 20px;
  }
  .exclusive-nav-links.open {
    transform: translateX(0);
  }

  /* Individual link styling */
  .exclusive-nav-link {
    line-height: 10px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    text-align: left;
  }
  .line {
    border: 1px solid black;
    max-width: 100vw;
  }
  .horizontal-rule {
    display: block;
    max-width: 100vw;
    width: 100%;
  }
  .exclusive-nav-link:hover {
    color: #db4444;
    border-bottom: none;
  }

  /* Overlay for the remaining 20% screen area */
  .overlay {
    position: fixed;
    top: 0;
    left: 80%;
    width: 20%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
  }
  .exclusive-nav-items {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  /* Close button for nav */
  .overlay-close-btn {
    font-size: 24px;
    position: absolute;
    top: 46px;
    right: 20px;
    cursor: pointer;
  }

  /* Adjust other elements */
  .action-wrapper {
    position: relative;
  }
  .action-count {
    top: -5px;
    right: -5px;
  }
  /* end */

  /* Slider */
  .nav-items {
    display: none;
  }
  .slider {
    display: none;
  }
  .mobile-slide-container {
    display: block;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 0;
    border-radius: 10px;
    margin-bottom: 40px;
    width: 100vw;
  }
  .exclusive-wrapper {
    margin-left: 10px;
  }
  .margin {
    margin: 30px 0px;
  }
  .mobile-slide-wrapper {
    padding: 10px 20px;
    gap: 10px;
    display: flex;
  }
  .mobile-slide-img {
    max-width: 45vw;
    height: 100%;
    /* height: auto; */
  }
  .timer-container {
    max-width: 30vw;
    height: auto;
    font-size: 20px;
    font-weight: bold;
  }
  .flash-text {
    font-size: 19px;
    max-width: 30vw;
    width: 100%;
    margin-top: 10px;
    letter-spacing: 0.01em;
  }

  /* Flash Sales Product Start */

  .cart-img-container {
    max-width: 100%;
    height: auto;
    width: 200px;
  }
  .cart-img-wrapper {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background-color: #e07575; */
    position: relative; /* Enables absolute positioning of child elements */
  }
  .add-to-cart-btn {
    max-width: 100%;
    height: 41px;
    background-color: #000000;
    border-radius: 0 0 4px 4px;

    display: flex;
    visibility: visible;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #f5f5f5;
  }

  .cart-img-wrapper:hover .add-to-cart-btn {
    visibility: visible;
  }
  .cart-images {
    max-width: 100%;
    height: auto;
  }
}
